 a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
} 
.google{
	color: #000;
}
.icon{
	width: 20px
}
.color{
	color: #fff;
}
.color:hover{
	color: #fff;
}
.ico{
	width: 50px;
}
.ico:hover{
	background-color: #fff
	border-radius:50%;
}